<html>
    <head></head>
    <title>{{ color|capitalize }} Deployment</title>
    <body style="background-color: {{ color }}">
        <center>
            <h1>{{ color|capitalize }} deployment</h1>
        </center>
    </body>
</html>